body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login-section,
.atm-section {
  width: 300px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px #ccc;
  background-color: #fdf8f8;
  height: min-content;
  margin-top: 1rem;
}

.login-section #login-message {
  height: 16px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: red;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-group label {
  font-weight: bold;
}

.form-group input,
#transaction-section input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.form-group input:focus,
#transaction-section input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 8px #4caf50;
  transition: all 0.3s ease;
}

.login-form button,
#transaction-section button {
  float: right;
}

#transaction-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#transaction-section .button {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#transaction-section .button button {
  width: 100%;
}

#transaction-section #message {
  height: 12px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: #4caf50;
}

.atm-section #welcome-message {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.balance-section {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.balance-title {
  font-size: 1rem;
  margin: 0;
}

#balance-number {
  font-size: 2rem;
  margin: 0;
}

button {
  padding: 0.5rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logout-button {
  background-color: #f44336;
}
